.navigation{
    width: 100%;
    padding: $global__padding $global__padding + .8125;
    .site-main__logo{
        img{
            width: 100%;
            max-width: 130px;
            height: auto;
            display: flex;
            align-items: center;
            text-decoration: none;
        }
    }
    .site-main__nav{
        span{
            display: none;
        }
        
        nav{
            &.nav-main{
                @media screen and ( max-width: 991px ){
                    background-color: $global__rgba-details;
                    position: absolute;
                    top: 0;
                    left: -100%;
                    width: 50vw;
                    height: 100vh;
                    padding-left: 15px;
                    transition: 220ms all;                    
                }
                ul{
                    display: flex;
                    align-items: center;
                    @media screen and ( max-width: 991px ){
                        display: block;
                    }
                    li{
                        padding: $global__padding;
                        a{
                            text-decoration: none;
                            font-size: $global__font-size - .075;
                            color: $primary;
                            font-family: $global__exo2-regular;
                            &:hover{
                                cursor: pointer;
                                color: $secondary;
                            }
                        }
                    }
                }
            }
        }   
    }
}

/* footer */
.nav-footer{
    ul{
        display: block;
        li{
            padding: $global__padding - .3 0 ;
            a{
                font-size: $global__font-size;
                color: $details;
                text-decoration: none;
                &:hover{
                    cursor: pointer;
                    color: $secondary;
                }
            }
        }
    }
}