.navigation{
    width: 100%;
    padding: $global__padding $global__padding + .8125;
    .site-main__logo{
        .navigation__item-logo{
            width: 100%;
            max-width: 180px;
            display: flex;
            align-items: center;
            text-decoration: none;
        }
    }
    .site-main__nav{
        span{
            display: none;
        }
        
        nav{
            &.nav-main{
                @media screen and ( max-width: 991px ){
                    background-color: $global__rgba-details;
                    position: absolute;
                    top: 0;
                    left: -100%;
                    width: 50vw;
                    height: 100vh;
                    padding-left: 15px;
                    transition: 220ms all;
                    
                }
                ul{
                    display: flex;
                    @media screen and ( max-width: 991px ){
                        display: block;
                    }
                    li{
                        padding: $global__padding;
                        a{
                            text-decoration: none;
                            color: $primary;
                            text-transform: uppercase;
                            font-family: $global__exo2-regular;
                            &:hover{
                                cursor: pointer;
                                color: $secondary;
                            }
                        }
                    }
                }
            }
        }   
    }
}